
.card-img-top{
    opacity: .90;
    
}

.info-card:hover {
    font-weight: bold;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.253)!important;
}

.info-card{
    background-color: rgb(102, 3, 3);
    height: 400px;
    width: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


